@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: 'another shabby';
    src: url('font/anothershabby.woff2') format('woff2'),
        url('font/anothershabby.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;

}

.bg{
    width: 102vw;
    height: 102vh;
    position: fixed;
    background: url(img/background.jpg);
    filter: blur(5px);
    top: -1vh;
    left: -1vw;
    background-size: cover;
}

.container{
    width: 100vw;
    /* height: 100vh; */
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
    width: 100%;
}

.link {
    margin: 6% 0;
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.panel {
    background: rgb(229 206 144 / 75%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(0 0 0 / 60%) 3px 3px 7px 0px;
    max-width: 600px;
    width: 95%;
    overflow: auto;
    align-items: center;
    /* height: unset !important; */
    justify-content: center;
    margin: 5% 0;
}

.logo {
    width: 40%;
}

.service-text {
    margin-top: 3%;
}

body {
    font-family: Roboto;
}

.main-logo {
    width: 60%;
    margin-bottom: 5%;
    margin-top: 10%;
}

.slogan {
    margin-bottom: 20px;
    font-family: another shabby;
    font-size: 130%;
}

h1, h3, p {
    text-align: center;
}

/*Iphone(480 x 640)*/
@media screen and (min-width: 320px){
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px){

}
/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px){
    .logo{
        width: 50%;
    }
    .main-logo{
        width: 40%;
    }
    .link{
        width: 50%;
    }
    .container{
        height: 100vh;
    }
}
/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px){
    .link{
        margin: 6% auto;
    }
    .container{
        height: 100vh;
    }
}